program {{pascal_name}};

uses
  u{{pascal_name}}, u{{pascal_name}}Tests, uShared,
  fpcunit, testregistry;

var
  FResultWriter: TCustomResultWriter;
  testResult: TTestResult;

begin
  testResult := TTestResult.Create;
  FResultWriter := TCustomResultWriter.Create;
  try
    testResult.AddListener(FResultWriter);
    FResultWriter.WriteHeader;

    GetTestRegistry.Run(testResult);

    FResultWriter.WriteResult(testResult);
  finally
    testResult.Free;
    FResultWriter.Free;
  end;
end.
